#friends-display-link {
  text-align: center;
  display: block;
  background-color: whitesmoke;
  padding: 13px 0px;
  color: gray;
  font-size: 16px;
}

#friends-display-link i {
  color: gray;
  padding: 13px 5px;
}
