.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: whitesmoke;
  padding: 20px 50px;
  border-top: 1px solid rgb(235, 229, 229);
}
.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  position: relative;
  color: rgb(119, 114, 114);
}
.nav__notification {
  background-color: tomato;
  width: 20px;
  height: 20px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 400;
  position: absolute;
  left: 20px;
  bottom: 18px;
}
.nav__dot {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 25px;
  bottom: 30px;
}
