.settings__setting {
  padding: 20px 0px;
  border-bottom: var(--main-border);
  font-size: 20px;
  display: flex;
  align-items: center;
  color: rgb(88, 86, 86);
  justify-content: space-between;
}

.settings__setting i {
  margin-right: 10px;
  font-size: 20px;
}

.settings__setting__column:last-child {
  opacity: 0.8;
}
